@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-background:black;
    ---color-fontcolor: white;
    --color-brand: #1d9bf0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(---color-fontcolor);
}

body{
    background-color: var(--color-background);
}

.page{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px 0 0;
}

.main{
    width: 100%;
    display: flex;
}



header{
    width: 25%;
    height: 100vh;
    border: 1px solid yellow;
}


.header_container{
    width: 100%;
    height: 100%;
    padding-left: 120px;
}


/* ----- HEADER LOGO ------ */

.logo{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}

.logo_link{
    width: 52px;
    height: 52px;
    /* border: 1px solid rgb(255, 93, 93); */
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo_link a{
   
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.logo_link a:hover{
    background-color: rgb(41, 41, 41);
}




/* ----- END HEADER LOGO ------ */


/* -----  NAVBAR ------ */



.navbar{
    width: 100%;
    height: calc(100vh - 62px );
    padding-right: 20px;
    border: 1px solid yellow;
}


.navbar_container{
    height: 52px;
    width: 100%;
    /* border: 1px solid orange;  */
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar_container a{
    height: 100%;
    width: auto;
    /* border: 2px solid wheat; */
    text-decoration: none;
}

.navbar_container a:hover{
    background-color: rgb(39, 39, 39);
    border-radius: 25px;
}



.icon_wrapper{
    width: 52px;
    height: 52px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon_style{
    font-size: 30px;
    font-weight: 400px;
    fill: var(---color-fontcolor);
    

}


.navigation_item{
    height: 100%;
    display: flex;
    align-items: center;
    
    
}

.icon_wrapper{
    width: 52px;
    height: 52px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;

}


.navigation_description{
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.navigation_description p{
    font-size: 18px;
    font-weight: 300;
    
}


.navbar_button{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--color-brand);
    margin-top: 20px;
}

.navbar_button a{
    text-decoration: none;
}

.navbar_button p{
    font-size: 18px;
    font-weight: 500;
}

@media screen and(min-width: 769px) {
   
}




/* ----- END HEADER NAVBAR ------ */

.main_content{
    width: 75%;
    display: flex;
    border: 1px solid green;
}

