/* ----- HEADER LOGO ------ */

.logo{
    width: 100%;
    min-width: 52px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.logo_link{
    width: 52px;
    height: 52px;
    /* border: 1px solid rgb(255, 93, 93); */
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo_link a{
   
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.logo_link a:hover{
    background-color: rgb(41, 41, 41);
}


@media all and (max-width: 1286px) {


    .logo{
        justify-content: flex-end;
    }   
    
}

/* ----- END HEADER LOGO ------ */